<h1>{% trans %}Email.General.Hello{% endtrans %} {{ name }},</h1>

<p>
    {% trans %}Email.Messages.User.Forgot.Password.Body{% endtrans %}: <a href={{ link }}>{% trans %}Email.Messages.User.Forgot.Password.Confirm{% endtrans %}</a>
</p>

