<h1>{% trans %}Email.General.Hello{% endtrans %} {{ name }},</h1>

<p>
    {% trans %}Email.Messages.Registration.Confirm.Email.Address.Body{% endtrans %}: <a href={{ link }}>{% trans %}Email.Messages.Registration.Confirm.Email.Address.Confirm{% endtrans %}</a>
</p>

