{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
<a id="logo" href="https://google.com"><img src="{{ asset('bundles/nelmioapidoc/logo.png') }}" alt="NelmioApiDocBundle"></a>
{% endblock header %}
